.vscode/**
.github/**
.vscode-test/**
deepseek-copilot.wiki/**
web-doc/**
docs/**
node_modules/**
src/**
!src/assets/
!src/assets/**
scripts/**
.tmp/**
out/**
.gitignore
.yarnrc
package-lock.json
esbuild.js
vsc-extension-quickstart.md
*.vsix
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
