.emptyState {
  text-align: center;
  min-height: 100%;
  color: var(--text-secondary);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 12px 36px;
  display: flex;

  img {
    width: 70px;
    height: 70px;
  }

  h2 {
    margin-bottom: 8px;
  }

  p {
    max-width: 34rem;
  }
}

.emptyHints {
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 16px;
  font-size: .75rem;
  display: flex;
}
