.slider {
  flex-direction: column;
  display: flex;
  .sliderWithValue {
    align-items: center;
    display: flex;
    .sliderValue {
      text-align: right;
      width: 40px;
      color: var(--text-primary);
    }
  }
}
