header {
  background-color: var(--header-bg-color);
  border-bottom: 1px solid var(--border-color);
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  position: relative;
  .settingsBtn.hidden {
    visibility: hidden;
  }
  .leftTooling,
  .center,
  .rightTooling {
    align-items: center;
    gap: .5rem;
    display: flex;
  }
  .leftTooling {
    min-width: 3rem;
  }
  .center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    .logoImg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
  .rightTooling {
    margin-left: auto;
  }
}
